{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}

{% block title %}
   WorKinator | Cadastros
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form method="POST" action="{% url 'workinator:AtualizaProfissionalSaude' %}">
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <h1>Atualizar Cadastro</h1>

                    {% render_field form.CodigoProfissional id="CodigoProfissional" type="text" class="form-control mb-3" placeholder="Código Profissional" %}
                    {% render_field form.NomeCompleto id="NomeCompleto" type="text" class="form-control mb-3" placeholder="Nome Completo" %}
                    {% render_field form.EnderecoConsultorio id="EnderecoConsultorio" type="text" class="form-control mb-3" placeholder="Endereço Consultório" %}
                    {% render_field form.DataNascimento id="DataNascimento" type="date" class="form-control mb-3" placeholder="Data de Nascimento" %}
                    {% render_field form.RG_CPF_CNPJ id="RG_CPF_CNPJ" type="text" class="form-control mb-3" placeholder="RG / CPF / CNPJ" %}
                    {% render_field form.Telefone id="Telefone" type="text" class="form-control mb-3" placeholder="Telefone" %}
                    {% render_field form.Abordagem id="Abordagem" type="text" class="form-control mb-3" placeholder="Abordagem" %}
                    {% render_field form.Atendimento id="Atendimento" type="text" class="form-control mb-3" placeholder="Atendimento" %}
                    {% render_field form.FaixaHorario id="FaixaHorario" type="text" class="form-control mb-3" placeholder="Faixa de Horário" %}

                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary col">Atualizar</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'workinator:GetProfissionalSaude' %}" class="btn btn-warning col">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}