{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}



{% block title%}
   WorKinator | Atualizar
{% endblock %}

{% block content %}
<div class="col-md-6">

    <div class="card">
        <div class="card-body">
            <h1> Atualizar consulta</h1>
            <form method="POST" action="{% url 'workinator:AtualizaConsulta' %}">
                {% csrf_token %}

                <div class="row">

                    <div class="col fields">
                        <label for="">ID consulta</label>
                        {% render_field form.IDConsulta id="IDConsulta" type="number" class="form-control" placeholder="IDConsulta"%}
                    </div>

                    <div class="col fields">
                        <label for="">Data hora consulta</label>
                        {% render_field form.DataHoraConsulta id="DataHoraConsulta" type="datetime-local" class="form-control" placeholder="DataHoraConsulta"%}
                    </div>
                </div>

                <div class="row">

                    <div class="fields">
                        <label for="Atendimento"> Tipo de atendimento</label>
                        {% render_field form.Atendimento id="Atendimento" type="text" class="form-control" placeholder="Atendimento"%}
    
                    </div>
                    
                    <div class="fields">
                        <label for=""> Valor</label>
                        {% render_field form.Valor id="Valor" type="number" class="form-control" placeholder="Valor"%}
                    </div>

                </div>

                <div class="fields">
                    <label for="">Deixe aqui um comentário</label>
                    {% render_field form.Comentarios id="Comentarios" type="text" class="form-control" placeholder="Comentarios"%}
                </div>
              
                <div style="margin-top: 0.1rem; padding: 0.7rem;" class="row">
                    
                    <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
                    <a style="margin: 0.1rem;" href="{% url 'workinator:GetConsultasProfissional' %}" class="btn btn-warning col">Voltar</a>
                    
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}