{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}



{% block title%}
   WorKinator | Deletar
{% endblock %}

{% block content %}
<div class="col-md-6">

    <div class="card">
        <div class="card-body">
            <h1> Deletar consulta</h1>
            <form method="POST" action="{% url 'workinator:DeleteConsulta' %}">
                {% csrf_token %}
                <label for=""> ID Consulta</label>
                {% render_field form.IDConsulta id="IDConsulta" type="number" class="form-control" placeholder="IDConsulta"%}
                <div style="margin-top: 0.1rem; padding: 0.7rem;" class="row">
                    
                    <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
                    <a style="margin: 0.1rem;" href="{% url 'workinator:GetConsultasProfissional' %}" class="btn btn-warning col">Voltar</a>
                    
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
