
{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}



{% block title%}
   WorKinator | Consulta
{% endblock %}

{% block content %}
<div class="col-md-6">

    <div class="card">
        <div class="card-body">
            <h1> Pesquisar paciente</h1>
            <form method="POST" action="{% url 'workinator:GetPaciente' %}">
                {% csrf_token %}
                <label for="">ID do paciente</label>
                {% render_field form.IDPaciente id="IDPaciente" type="number" class="form-control" placeholder="IDPaciente"%}
                <div style="margin-top: 0.1rem; padding: 0.7rem;" class="row">
                    
                    <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
                    <a style="margin: 0.1rem;" href="{% url 'workinator:GetPacientesProfissional' %}" class="btn btn-warning col">Voltar</a>
                    
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
