{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}


{% block title%}
   WorKinator | Perfil
{% endblock %}

{% block content %}
<div class="col-md-10">
  <div style="overflow: auto;max-height: 25rem;" class=" table-responsive-xl overflow-auto border rounded col card">
    <table id="tabe-requests" class="table table-striped" style="overflow: auto;max-height: 25rem;">
      <h1>Informações</h1>
      <thead style="background-color: black;color: antiquewhite;">
        <tr>
          <th scope="col">Código Profissional</th>
          <th scope="col">Nome Completo</th>
          <th scope="col">RG / CPF / CNPJ</th>
          <th scope="col">Telefone</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Endereco do Consultorio</th>
          <th scope="col">Atendimento</th>
          <th scope="col">Abordagem</th>
          <th scope="col">Faixa de Horario</th>
        </tr>
      </thead>
      <tbody>
        {% for prof in profissional %}
           <tr>
               <td>{{prof.CodigoProfissional}}</td>
               <td>{{prof.NomeCompleto}}</td>
               <td>{{prof.RG_CPF_CNPJ}}</td>
               <td>{{prof.Telefone}}</td>  
               <td>{{prof.DataNascimento}}</td>
               <td>{{prof.EnderecoConsultorio}}</td>
               <td>{{prof.Atendimento}}</td>
               <td>{{prof.Abordagem}}</td>
               <td>{{prof.FaixaHorario}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="row" style="padding: 1rem;">
    <a href="{% url 'workinator:AtualizaProfissionalSaude' %}" style="padding: 0.5rem;margin: 0.1rem;" class="btn btn-secondary col">Editar Perfil</a>
    <a href="{% url 'workinator:DeleteProfissionalSaude' %}" style="padding: 1rem;margin: 0.1rem;" class="btn btn-danger col">Excluir Perfil</a>
    <a href="{% url 'workinator:GetConsultasProfissional' %}" style="padding: 1rem;margin: 0.1rem;" class="btn btn-warning col">Voltar</a>
  </div>
</div>
{% endblock %}