{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}


{% block title%}
   WorKinator | Home
{% endblock %}



{% block content %}
<div class="col-md-8">
  <h1>Consultas</h1>
  <div style="overflow: auto;max-height: 25rem;" class=" table-responsive-xl overflow-auto border rounded col card">
    <table id="tabe-requests" class="table table-striped" style="overflow: auto;max-height: 25rem;">
      <thead style="background-color: black;color: antiquewhite;">
        <tr>
          <th scope="col">IDConsulta</th>
          <th scope="col">Paciente</th>
          <th scope="col">Tipo</th>
          <th scope="col">Horário</th>
          <th scope="col">Comentários</th>
        </tr>
      </thead>
      <tbody style="overflow-y: scroll; max-height: 25rem;" class="text-center">
        {% for consult in consulta %}
        <tr>
          <td>{{consult.IDConsulta}}</td>
          <td>{{consult.NomeCompleto}}</td>
          <td>{{consult.Atendimento}}</td>
          <td>{{consult.DataHoraConsulta}}</td>  
          <td>{{consult.Comentarios}}</td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="row" style="margin-top: 1rem;padding: 1rem;">
    <a href="{% url 'workinator:CadastroConsulta' %}" style="margin: 0.1rem;" class="btn btn-success col" `>Criar Consulta</a>
    <a href="{% url 'workinator:GetConsulta' %}" style="margin: 0.1rem;" class="btn btn-primary col" `>Ver Consulta</a>
    <a href="{% url 'workinator:AtualizaConsulta' %}" style="margin: 0.1rem;" class="btn btn-secondary col" `>Editar Consulta</a>
    <a href="{% url 'workinator:DeleteConsulta' %}" style="margin: 0.1rem;" class="btn btn-danger col" `>Excluir Consulta</a>
    <a href="{% url 'workinator:GetPacientesProfissional' %}" style="margin: 0.1rem;" class="btn btn-warning col" `>Ver Pacientes</a>
  </div>
</div>
{% endblock %}
