{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}


{% block title %}
    WorKinator | Cadastros consulta
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form method="POST" action="{% url 'workinator:CadastroConsulta' %}">
        <div class="card"> 
            <div class="card-body">
                <h1>Cadastrar consulta</h1>
                
                {% csrf_token %}
                <div class="row">
                    <div style="margin-bottom: 1rem;">
                        <label for="">Paciente</label>
                        {{ form.IDPaciente }}
                    </div>

                    <hr>

                    <div class="col" style="margin-top: 2rem;">
                        <label for="DataHoraConsulta"> Data Hora Consulta</label>
                        {% render_field form.DataHoraConsulta id="DataHoraConsulta" type="datetime-local" class="form-control" placeholder="DataHoraConsulta"%}
                    </div>
                </div>

                <div class="fields">
                    <label for="Atendimento"> Tipo de atendimento</label>
                    {% render_field form.Atendimento id="Atendimento" type="text" class="form-control" placeholder="Atendimento"%}

                </div>
                
                <div class="fields">
                    <label for=""> Valor</label>
                    {% render_field form.Valor id="Valor" type="number" class="form-control" placeholder="Valor"%}
                </div>
                <div class="fields">
                    <label for=""> Deixe um comentário</label>
                    {% render_field form.Comentarios id="Comentarios" type="text" class="form-control" placeholder="Comentarios"%}
                </div>
                
            </div>
        </div>
        
        <div style="margin-top: 0.1rem; padding: 0.7rem;" class="row">
                            
            <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
            <a style="margin: 0.1rem;" href="{% url 'workinator:GetConsultasProfissional' %}" class="btn btn-warning col">Voltar</a>
        
        </div>
    </form>
</div>


{% endblock %}

