{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}



{% block title%}
   WorKinator | Cadastros
{% endblock %}


{% block content %}
    <div class="col-md-6">
        <form method="POST" action="{% url 'workinator:CadastroProfissionalSaude' %}">
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <h1>Cadastro</h1>
                    
                    <div class="row">
                        
                        <div class="col fields ">
                            {{ form.email }}
                        </div>
                        
                        <div class="col fields ">
                            {{ form.username }}
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col fields ">
                            {% render_field form.CodigoProfissional id="CodigoProfissional" type="text" class="form-control" placeholder="Código Profissional"%}
                        </div>
                        <div class="col fields ">
                            {% render_field form.NomeCompleto id="NomeCompleto" type="text" class="form-control" placeholder="Nome Completo"%}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col fields ">
                            {{ form.senha }}
                        </div>
                        
                        <div class="col fields ">
                            {{ form.confirmarSenha }}
                        </div>
                    </div>
                    
                    <div class="fields">
                        {% render_field form.EnderecoConsultorio id="EnderecoConsultorio" type="text" class="form-control" placeholder="Endereço Consultório"%}
                    </div>
                    
                    <div class="row">
                        <div class="col fields ">
                            
                            {% render_field form.DataNascimento id="DataNascimento" type="date" class="form-control" placeholder="Data de Nascimento"%}
                        </div>
                        <div class="col fields ">
                            
                            {% render_field form.RG_CPF_CNPJ id="RG_CPF_CNPJ" type="text" class="form-control" placeholder="RG / CPF / CNPJ"%}
                        </div>
                        <div class="col fields ">
                            
                            {% render_field form.Telefone id="Telefone" type="text" class="form-control" placeholder="Telefone"%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fields ">
                            <label for="Abordagem"> Abordagem</label>
                            {% render_field form.Abordagem id="Abordagem" type="text" class="form-control" placeholder="Abordagem"%}
                        </div>
                        <div class="col fields ">
                            <label for="Atendimento"> Atendimento</label>
                            {% render_field form.Atendimento id="Atendimento" type="text" class="form-control" placeholder="Atendimento"%}
                        </div>
                        <div class="col fields ">
                            <label for="FaixaHorario"> FaixaHorario</label>
                            {% render_field form.FaixaHorario id="FaixaHorario" type="text" class="form-control" placeholder="Faixa de Horario"%}
                        </div>
                    </div>
                    
                </div>
                
                </div>

                <div style="margin-top: 0.1rem; padding: 0.7rem;" class="row">
                    
                    <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
                    <a style="margin: 0.1rem;" href="{% url 'workinator:Login' %}" class="btn btn-warning col">Voltar</a>
                
                </div>

            </form>
    </div>
{% endblock %}
