{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load widget_tweaks %}



{% block title%}
   WorKinator | Cadastros
{% endblock %}


{% block content %}
    <div class="col-md-6">
        <form method="POST" action="{% url 'workinator:CadastroProfissionalSaude' %}">
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <h1>Cadastro Paciente</h1>
                
                    
                    <div class="row">
                        <div class="col fields ">
                            {% render_field form.NomeCompleto id="NomeCompleto" type="text" class="form-control" placeholder="Nome Completo"%}
                        </div>
                        <div class="col fields ">
                            {% render_field form.Telefone id="Telefone" type="text" class="form-control" placeholder="Telefone"%}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col fields ">
                            {% render_field form.DataNascimento id="DataNascimento" type="date" class="form-control" placeholder="Data de Nascimento"%}
                        </div>
                        
                        <div class="col fields ">
                            {% render_field form.Cidade id="Cidade" type="text" class="form-control" placeholder="Cidade"%}
                        </div>
                    </div>
                    
                    <div class="fields">
                    </div>
                    
                    <div class="row">
                        <div class="col fields ">
                            <label for="Deficiencia">Deficiencia</label>
                            {% render_field form.Deficiencia id="Deficiencia" type="text" class="form-control" placeholder="Deficiência"%}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fields ">
                            <label for="Encaminhamento"> Encaminhamento</label>
                            {% render_field form.Encaminhamento id="Encaminhamento" type="text" class="form-control" placeholder="Encaminhamento"%}
                        </div>
                        <div class="col fields ">
                            <label for="EstadoCivil"> EstadoCivil</label>
                            {% render_field form.EstadoCivil id="EstadoCivil" type="text" class="form-control" placeholder="Estado Civil"%}
                        </div>
                        <div class="col fields ">
                            <label for="Enfermidades"> Enfermidades</label>
                            {% render_field form.Enfermidades id="Enfermidades" type="text" class="form-control" placeholder="Enfermidades"%}
                        </div>
                    </div>
                    
                    <div class="col fields ">
                        {% render_field form.Remedio id="Remedio" type="text" class="form-control" placeholder="Remédio"%}
                    </div>
                    
                    
                </div>
                
                <div style="margin-top: 0.1rem; padding:1rem;" class="row">
                    
                    <button style="margin: 0.1rem;" type="submit" class="btn btn-primary col">Continuar</button>
                    <a style="margin: 0.1rem;" href="{% url 'workinator:GetPacientesProfissional' %}" class="btn btn-warning col">Voltar</a>
                    
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}
